<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.openwjk.central.dao.mapper.CentralBatchTaskDOMapper">
  <resultMap id="BaseResultMap" type="com.openwjk.central.dao.model.CentralBatchTaskDO">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
    <result column="GMT_CREATE" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="MODIFIER" jdbcType="VARCHAR" property="modifier" />
    <result column="GMT_MODIFIED" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="IS_DELETED" jdbcType="VARCHAR" property="isDeleted" />
    <result column="TASK_TYPE" jdbcType="VARCHAR" property="taskType" />
    <result column="DATE_LABEL" jdbcType="VARCHAR" property="dateLabel" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="EARLY_START_TIME" jdbcType="TIMESTAMP" property="earlyStartTime" />
    <result column="START_TIME" jdbcType="TIMESTAMP" property="startTime" />
    <result column="END_TIME" jdbcType="TIMESTAMP" property="endTime" />
    <result column="RESULT_EXT" jdbcType="VARCHAR" property="resultExt" />
    <result column="RETRY_TIME" jdbcType="INTEGER" property="retryTime" />
    <result column="DELETE_PK" jdbcType="BIGINT" property="deletePk" />
    <result column="PARAM_EXT" jdbcType="VARCHAR" property="paramExt" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, CREATOR, GMT_CREATE, MODIFIER, GMT_MODIFIED, IS_DELETED, TASK_TYPE, DATE_LABEL, 
    STATUS, EARLY_START_TIME, START_TIME, END_TIME, RESULT_EXT, RETRY_TIME, DELETE_PK, 
    PARAM_EXT
  </sql>
  <select id="selectByExample" parameterType="com.openwjk.central.dao.model.CentralBatchTaskDOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from central_batch_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from central_batch_task
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <insert id="insert" parameterType="com.openwjk.central.dao.model.CentralBatchTaskDO">
    insert into central_batch_task (ID, CREATOR, GMT_CREATE, 
      MODIFIER, GMT_MODIFIED, IS_DELETED, 
      TASK_TYPE, DATE_LABEL, STATUS, 
      EARLY_START_TIME, START_TIME, END_TIME, 
      RESULT_EXT, RETRY_TIME, DELETE_PK, 
      PARAM_EXT)
    values (#{id,jdbcType=BIGINT}, #{creator,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{modifier,jdbcType=VARCHAR}, #{gmtModified,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=VARCHAR}, 
      #{taskType,jdbcType=VARCHAR}, #{dateLabel,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{earlyStartTime,jdbcType=TIMESTAMP}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
      #{resultExt,jdbcType=VARCHAR}, #{retryTime,jdbcType=INTEGER}, #{deletePk,jdbcType=BIGINT}, 
      #{paramExt,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.openwjk.central.dao.model.CentralBatchTaskDO">
    insert into central_batch_task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="creator != null">
        CREATOR,
      </if>
      <if test="gmtCreate != null">
        GMT_CREATE,
      </if>
      <if test="modifier != null">
        MODIFIER,
      </if>
      <if test="gmtModified != null">
        GMT_MODIFIED,
      </if>
      <if test="isDeleted != null">
        IS_DELETED,
      </if>
      <if test="taskType != null">
        TASK_TYPE,
      </if>
      <if test="dateLabel != null">
        DATE_LABEL,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="earlyStartTime != null">
        EARLY_START_TIME,
      </if>
      <if test="startTime != null">
        START_TIME,
      </if>
      <if test="endTime != null">
        END_TIME,
      </if>
      <if test="resultExt != null">
        RESULT_EXT,
      </if>
      <if test="retryTime != null">
        RETRY_TIME,
      </if>
      <if test="deletePk != null">
        DELETE_PK,
      </if>
      <if test="paramExt != null">
        PARAM_EXT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=VARCHAR},
      </if>
      <if test="taskType != null">
        #{taskType,jdbcType=VARCHAR},
      </if>
      <if test="dateLabel != null">
        #{dateLabel,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="earlyStartTime != null">
        #{earlyStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="resultExt != null">
        #{resultExt,jdbcType=VARCHAR},
      </if>
      <if test="retryTime != null">
        #{retryTime,jdbcType=INTEGER},
      </if>
      <if test="deletePk != null">
        #{deletePk,jdbcType=BIGINT},
      </if>
      <if test="paramExt != null">
        #{paramExt,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.openwjk.central.dao.model.CentralBatchTaskDOExample" resultType="java.lang.Long">
    select count(*) from central_batch_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update central_batch_task
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.creator != null">
        CREATOR = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreate != null">
        GMT_CREATE = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifier != null">
        MODIFIER = #{record.modifier,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtModified != null">
        GMT_MODIFIED = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDeleted != null">
        IS_DELETED = #{record.isDeleted,jdbcType=VARCHAR},
      </if>
      <if test="record.taskType != null">
        TASK_TYPE = #{record.taskType,jdbcType=VARCHAR},
      </if>
      <if test="record.dateLabel != null">
        DATE_LABEL = #{record.dateLabel,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.earlyStartTime != null">
        EARLY_START_TIME = #{record.earlyStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.startTime != null">
        START_TIME = #{record.startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endTime != null">
        END_TIME = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.resultExt != null">
        RESULT_EXT = #{record.resultExt,jdbcType=VARCHAR},
      </if>
      <if test="record.retryTime != null">
        RETRY_TIME = #{record.retryTime,jdbcType=INTEGER},
      </if>
      <if test="record.deletePk != null">
        DELETE_PK = #{record.deletePk,jdbcType=BIGINT},
      </if>
      <if test="record.paramExt != null">
        PARAM_EXT = #{record.paramExt,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update central_batch_task
    set ID = #{record.id,jdbcType=BIGINT},
      CREATOR = #{record.creator,jdbcType=VARCHAR},
      GMT_CREATE = #{record.gmtCreate,jdbcType=TIMESTAMP},
      MODIFIER = #{record.modifier,jdbcType=VARCHAR},
      GMT_MODIFIED = #{record.gmtModified,jdbcType=TIMESTAMP},
      IS_DELETED = #{record.isDeleted,jdbcType=VARCHAR},
      TASK_TYPE = #{record.taskType,jdbcType=VARCHAR},
      DATE_LABEL = #{record.dateLabel,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=VARCHAR},
      EARLY_START_TIME = #{record.earlyStartTime,jdbcType=TIMESTAMP},
      START_TIME = #{record.startTime,jdbcType=TIMESTAMP},
      END_TIME = #{record.endTime,jdbcType=TIMESTAMP},
      RESULT_EXT = #{record.resultExt,jdbcType=VARCHAR},
      RETRY_TIME = #{record.retryTime,jdbcType=INTEGER},
      DELETE_PK = #{record.deletePk,jdbcType=BIGINT},
      PARAM_EXT = #{record.paramExt,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.openwjk.central.dao.model.CentralBatchTaskDO">
    update central_batch_task
    <set>
      <if test="creator != null">
        CREATOR = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        GMT_CREATE = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        MODIFIER = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null">
        GMT_MODIFIED = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        IS_DELETED = #{isDeleted,jdbcType=VARCHAR},
      </if>
      <if test="taskType != null">
        TASK_TYPE = #{taskType,jdbcType=VARCHAR},
      </if>
      <if test="dateLabel != null">
        DATE_LABEL = #{dateLabel,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="earlyStartTime != null">
        EARLY_START_TIME = #{earlyStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null">
        START_TIME = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        END_TIME = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="resultExt != null">
        RESULT_EXT = #{resultExt,jdbcType=VARCHAR},
      </if>
      <if test="retryTime != null">
        RETRY_TIME = #{retryTime,jdbcType=INTEGER},
      </if>
      <if test="deletePk != null">
        DELETE_PK = #{deletePk,jdbcType=BIGINT},
      </if>
      <if test="paramExt != null">
        PARAM_EXT = #{paramExt,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.openwjk.central.dao.model.CentralBatchTaskDO">
    update central_batch_task
    set CREATOR = #{creator,jdbcType=VARCHAR},
      GMT_CREATE = #{gmtCreate,jdbcType=TIMESTAMP},
      MODIFIER = #{modifier,jdbcType=VARCHAR},
      GMT_MODIFIED = #{gmtModified,jdbcType=TIMESTAMP},
      IS_DELETED = #{isDeleted,jdbcType=VARCHAR},
      TASK_TYPE = #{taskType,jdbcType=VARCHAR},
      DATE_LABEL = #{dateLabel,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      EARLY_START_TIME = #{earlyStartTime,jdbcType=TIMESTAMP},
      START_TIME = #{startTime,jdbcType=TIMESTAMP},
      END_TIME = #{endTime,jdbcType=TIMESTAMP},
      RESULT_EXT = #{resultExt,jdbcType=VARCHAR},
      RETRY_TIME = #{retryTime,jdbcType=INTEGER},
      DELETE_PK = #{deletePk,jdbcType=BIGINT},
      PARAM_EXT = #{paramExt,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>